spring:
  datasource:
    url: jdbc:h2:mem:task_016
    username: postgres
    password: 123
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
        jdbc:
          lob:
            non_contextual_creation: true
    show-sql: true
    generate-ddl: false
  liquibase:
    change-log: classpath:/liquibase/rootChangeLog.xml